<%- include('header', { title: "edit products"})%>
<div class="container justify-content-center">
  <div class="container">
    <h1>Edit Product</h1>
  </div>
  <div class="container justify-content-center">
    <form action="/products/<%=product[0].id%>/edit?_method=PUT" method="POST">
      <div class="container head-info-container">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <label class="subheader" for="description">Description</label>
            <br />
            <input
              type="text"
              id="description"
              name="description"
              value="<%=product[0].description%>"
            />
            <div><br /></div>
            <label class="subheader" for="buyer">Buyer</label><br />
            <select name="buyer_id">
              <% buyerList.forEach(e=>{%>
              <option value="<%=e.id%>"><%=e.buyer_name%></option>
              <%})%>
              <option value="none" selected disabled hidden>
                Select Buyer
              </option>
            </select>
          </div>
          <div class="col-md-6 col-sm-12">
            <label class="subheader" for="weld_counter">Weld Counter</label
            ><br />
            <input
              type="integer"
              id="weld_counter"
              name="weld_counter"
              value="<%=product[0].weld_counter%>"
            /><br />

            <label class="subheader" for="polish_counter">Polish Counter</label
            ><br />
            <input
              type="integer"
              id="polish_counter"
              name="polish_counter"
              value="<%=product[0].polish_counter%>"
            /><br />

            <label class="subheader" for="weave_counter">Weave Counter</label
            ><br />
            <input
              type="integer"
              id="weave_counter"
              name="weave_counter"
              value="<%=product[0].weave_counter%>"
            />
          </div>
        </div>
      </div>
      <!-- button -->
      <div class="container justify-content-center">
        <input class="button240" type="submit" value="GO" />
      </div>
    </form>
  </div>
</div>
<script>
    // selects buyer dropdown option to reflect database information for current product page
  console.log('script running')
  const productObj = <%-JSON.stringify(product[0])%>;
  const currentBuyer = productObj.buyer_id
  console.log(currentBuyer)

  const selectCurrentBuyer = () => {document.getElementById(`${currentBuyer}`).selected = 'true';
  }
  selectCurrentBuyer()
</script>
<%- include('footer')%>
