<%- include('header', { title: "add schedule"})%>
<h1>Add Schedule</h1>

<form action="/add-schedule" method='GET'>
     <label for="buyer">Buyer:</label><br />
      <select name="buyer_id">
        <% buyerList.forEach(e =>{%>
        <option value="<%=e.id%>"><%=e.buyer_name%></option>
        <%}); %>
      </select> 
      <input type="submit" value="Submit" />


    <% if (poList !== undefined) { %>
    <label for="po">Client PO No.:</label><br />
      <select name="client_po_no">
        <% poList.forEach(e =>{%>
        <option value="<%=e.client_po_no%>"><%=e.client_po_no%></option>
        <%}); %>
      </select> 
      <input type="submit" value="Submit" />
       <%}; %>
    </form>
    <br />
 <% if (data !== undefined) { %>
<form action="/add-schedule" method='POST'>
 
<table>
<tr>
<!-- <th>PO. No.</th>
<th>Shipment Date</th> -->
<th rowspan="2">Description</th>
<th rowspan="2">Quantity</th>
<th colspan="2">Welding</th>
<th colspan="2">Polishing</th>
<th colspan="2">Weaving</th>


</tr>
<tr>
  <th>Days Estimated</th>
  <th><label for="weld_start">Start On</label></th>
  <th>Days Estimated</th>
  <th><label for="polish_start">Start On</label></th>
  <th>Days Estimated</th>
  <th><label for="weave_start">Start On</label></th>
</tr>

<%data.forEach(e=>{%>
  <tr>
 
  <td><input type="hidden" name="order_id" value="<%=e.order_id%>"><input type="hidden" name="description" value="<%=e.description%>"><input type="hidden" name="product_id" value="<%=e.product_id%>"><%=e.description%></td>
  <td><%=e.quantity%></td>
  <td>
    <%=Math.ceil(e.weld_counter * e.quantity/10)%>
    <input type="hidden" name="weld_period_days" value="<%=Math.ceil(e.weld_counter * e.quantity/10)%>">
  </td>
  <td>
    <input name="weld_start" type="date">
  </td>
  <td>
    <%=Math.ceil(e.polish_counter * e.quantity/10)%>
    <input type="hidden" name="polish_period_days" value="<%=Math.ceil(e.polish_counter * e.quantity/10)%>">
  </td>
  <td><input name="polish_start" type="date"></td>
  <td>
    <%=Math.ceil(e.weave_counter * e.quantity/20)%>
    <input type="hidden" name="weave_period_days" value="<%=Math.ceil(e.weave_counter * e.quantity/20)%>">
  </td>
  <td><input name="weave_start" type="date"></td>

</tr>
<%})%>

</table>
   <%}; %>
<input type="submit" value="Submit Schedule"/>
</form>


<%- include('footer')%>