<%- include('header', { title: "all products"})%>
<h1 class="container justify-content-center form-container">
  Edit Product
</h1>
<div class="container justify-content-center form-container">
  <div class="entry-single">
<form action="/products" method="GET">
 <label for="buyer">Buyer:</label><br />
      <select name="buyer_id">
        <% buyerList.forEach(e =>{%>
        <option value="<%=e.id%>"><%=e.buyer_name%></option>
        <%}); %>
      </select> 
      <input type="submit" value="Submit" />

       <div class="container">
     <%allProducts.forEach(product=>{%> 
      <a href="/products/<%=product.id%>"> 
      <p>ID: <%=product.id%></p>
      <p>Description: <%=product.description%></p>
      <%})%>
      </div></a>

   
  </div>
</div>
<%- include('footer')%>



