<%- include('header', { title: "all products"})%>
<div class="container justify-content-center">
  <div class="container">
    <h1>Product Library</h1>
  </div>

  <div class="container head-info-container">
    <form action="/products" method="GET">
      <label for="buyer">Buyer</label><br />
      <select name="buyer_id">
        <% buyerList.forEach(e =>{%>
        <option value="<%=e.id%>"><%=e.buyer_name%></option>
        <%}); %>
      </select>
      <input type="submit" value="GO" />
    </form>
  </div>

  <%allProducts.forEach(product=>{%>
  <a href="/products/<%=product.id%>">
    <div class="container head-info-container">
      <label class="product-id" for="product_id">ID <%=product.id%></label>
      <br />
      <label for="description">Description</label><br />
      <p><%=product.description%></p>
    </div></a
  >
  <%})%>
</div>

<%- include('footer')%>
