<%- include('header', { title: "input po"})%>
<h1 class="container justify-content-center form-container">
  Input PO
</h1>
<div class="container justify-content-center form-container">
  <div class="entry-single">
<form action="/input" method="GET">
      <label for="buyer">Buyer:</label><br />
      <select name="buyer_id">
        <% buyerList.forEach(e =>{%>
        <option value="<%=e.id%>"><%=e.buyer_name%></option>
        <%}); %>
      </select>
      <input type="submit" value="Submit" />
    </form>
    <br />

<% if (productList !== undefined) { %>
    <form action="/input" method="POST">
      <label for="product">Product:</label><br />
    
        <% productList.forEach(e =>{%>
        <label for="selected products"><%=e.description%></label>
        <input name="items" type="checkbox" value="<%=e.id%>"/>
        <input type="number" name="<%=e.id%>"/>
        <br/>
        
        <%}); %>
        
    <br/>

      

      <label for="client_po_no">Client PO No.:</label><br/>
     <input type="integer" id="client_po_no" name="client_po_no"><br/>

      <label for="shipment_date">Shipment Date:</label><br/>
      <input type="date" id="shipment_date" name="shipment_date"/><br />
  

      <input type="submit" value="Submit" />
    </form>
    <% } %>    


   
  </div>
</div>
<%- include('footer')%>



