<%- include('header', { title: "input po"})%>

<div class="container">
  <div class="container justify-content-center form-container">
    <div class="container"><h1>Input PO</h1></div>
    <div class="container head-info-container">
      <form action="/input" method="GET">
        <label for="buyer">Buyer:</label><br />
        <select name="buyer_id">
          <% buyerList.forEach(e =>{%>
          <option value="<%=e.id%>"><%=e.buyer_name%></option>
          <%}); %>
        </select>
        <input type="submit" value="GO" />
      </form>
    </div>
    
    <% if (productList !== undefined) { %>
      <div class="container head-info-container">
      <form action="/input" method="POST">
        <label for="client_po_no">Client PO No.:</label><br />
        <input
          class="po-input-container"
          type="text"
          id="client_po_no"
          name="client_po_no"
          value="e.g. SC 100-10234567"
        />

        <div><br /></div>

        <label for="shipment_date">Shipment Date:</label><br />
        <input
          class="po-input-container"
          type="date"
          id="shipment_date"
          name="shipment_date"
        />
        </div>

        <div class="container head-info-container">
          <label for="table">Products</label>
          <table>
            <tr>
              <th>Description</th>
              <th>✔️</th>
              <th>Qty</th>
            </tr>
            <% productList.forEach(e =>{%>
            <tr>
              <td>
                <label for="selected products"><%=e.description%></label>
              </td>
              <td>
                <input name="items" type="checkbox" value="<%=e.id%>" />
              </td>
              <td>
                <input
                  class="product-qty-input"
                  type="number"
                  name="<%=e.id%>"
                />
                <%}); %>
              </td>
            </tr>
          </table>
        </div>

        <div class="d-flex justify-content-center">
          <input class="button240" type="submit" value="GO" />
        </div>

        <% } %>
      </form>
    
  </div>
  <%- include('footer')%>
</div>
