<%- include('header', { title: "input po"})%>

<div class="container justify-content-center">
  <div class="container ">
    <div><h1>Input PO</h1></div>
    <div class="container head-info-container">
      <form action="/input" method="GET">
        <label class="subheader" for="buyer">Buyer</label><br />
        <select name="buyer_id">
          <% buyerList.forEach(e =>{%>
          <option value="<%=e.id%>" id="<%=e.id%>"><%=e.buyer_name%></option>
          <%}); %>
          <option value="none" selected disabled hidden>Select Buyer</option>
        </select>
        <input type="submit" value="GO" />
      </form>
    </div>
    
    <% if (productList !== undefined) { %>
      <div class="container head-info-container">
      <form action="/input" method="POST">
        <label class="subheader" for="client_po_no">Client PO No.</label><br />
        <input
          class="po-input-container"
          type="text"
          id="client_po_no"
          name="client_po_no"
          value="e.g. SC 100-10234567"
        />

        <div><br /></div>

        <label class="subheader" for="shipment_date">Shipment Date</label><br />
        <input
          class="po-input-container"
          type="date"
          id="shipment_date"
          name="shipment_date"
        />
        </div>

        <div class="container head-info-container">
          <div class="container">
          <label class="subheader" for="table">Products</label>
          <table>
            <tr>
              <th>Description</th>
              <th><i class="fas fa-check-square"></i></th>
              <th>Qty</th>
            </tr>
            <% productList.forEach(e =>{%>
            <tr>
              <td>
                <p><%=e.description%></p>
              </td>
              <td>
                <input name="items" type="checkbox" value="<%=e.id%>" />
              </td>
              <td>
                <input
                  class="product-qty-input"
                  type="number"
                  name="<%=e.id%>"
                />
                <%}); %>
              </td>
            </tr>
          </table>
          </div>
        </div>

        <div class="container justify-content-center">
          <input class="button240" type="submit" value="GO" />
        </div>

        <% } %>
      </form>
    
  </div>
  </div>
  <script>
  // selects buyer dropdown option to reflect database information for current product page
console.log('script running')
const emptyObj = <%-JSON.stringify(productList)%>;
const productObj = emptyObj[0]
console.log(productObj)
const currentBuyer = productObj.buyer_id
console.log(currentBuyer)

const selectCurrentBuyer = () => {document.getElementById(`${currentBuyer}`).selected = 'true';
}
selectCurrentBuyer()

</script>
  <%- include('footer')%>

